body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(0, 255, 166);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
input {
    display: block;
    background-color: rgb(148, 255, 217);
    border: 2px solid rgb(148, 255, 217);
    padding: 5px;
    font-size: 24px;
    border-radius: 12px;
    width: 100%;
    max-width: 300px;
    margin-bottom: 50px;
}
input:focus {
    outline: none;
    border: 2px solid black;
}
button {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 12px;
    background-color: rgb(148, 255, 217);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
}
p {
    font-size: 24px;
    font-weight: 600;
}
h2 {
font-size: 30px;
}
.error {
    color: rgb(255, 75, 75);
}